<div id='category-page'>
  <div class='header'>
    <h1>Categories</h1>
  </div>

  <div id="groups">
    <%= render @groups %>
  </div>

  <%= link_to "Add new category", new_group_path, class: 'action btn' %>
</div>
