<div id="splash-screen">
    <h1>Budgetize</h1>

    <div id='splash-links'>
        <%= link_to "Login", new_user_session_path, class: 'pri btn' %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'sec btn' %>
    </div>
</div>
