/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #2b2b2b;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434b54;
  min-height: 740px;
  margin-top: 2vh;
  border-radius: 5px;
  background-color: #fff;
}

.header {
  background-color: #3778c2;
  color: #fff;
  padding: 1rem 0.6rem;
}

.header h1 {
  font-size: 1.4rem;
}

#splash-screen {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

#splash-screen h1 {
  display: grid;
  place-items: center;
}

#splash-links {
  display: grid;
  gap: 1rem;
  padding: 10%;
}

/* #5fb523 #434b54 */
#logout {
  background-color: #3778c2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5rem;
  border-bottom: 1px solid #fff;
}

.btn {
  display: grid;
  place-items: center;
  border-radius: 3px;
  padding: 0.8rem;
  width: 94%;
  margin: 0 auto;
  margin-top: 10px;
}

#logout .btn {
  background-color: red;
  color: #fff;
  width: fit-content;
  padding: 0.7rem 2rem;
  margin-bottom: 15px;
}

#logout .btn:hover {
  background-color: #fa3131;
  cursor: pointer;
}

.btn.pri,
input[type='submit'] {
  background-color: #3778c2;
  color: #fff;
  padding: 0.8rem;
  margin: 10px 0;
}

.btn.pri:hover {
  background-color: #5b8cc4;
}

.btn.sec {
  background-color: transparent;
  color: #434b54 !important;
}

.btn.sec:hover {
  background-color: #ededed;
}

.btn.action {
  background-color: #5fb523;
  color: #fff;
}

.btn.action:hover {
  background-color: #78b74b;
}

#splash-links a {
  height: 3rem;
}

#form {
  display: grid;
  padding: 1rem 4%;
}

#form > a,
#back {
  text-align: center;
  margin-top: 10px;
  color: #434b546a;
}

#back {
  margin-top: 20px;
}

#form h2 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
}

#form form {
  display: grid;
  gap: 1rem;
}

form > div {
  display: grid;
}

input,
button {
  outline: none;
  border: none;
  padding: 0.8rem 0;
}

.field input {
  border-bottom: 1px solid #2b2b2b76;
  font-size: 14px;
}

.actions {
  margin-top: 2rem;
}

#groups {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background-color: #f5f5f5;
}

#group {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1.4rem;
  padding: 0.6rem;
  background-color: #fff;
  border-radius: 5px;
}

#group:hover {
  background-color: #d1d1d190;
}

#group .img-div {
  width: 100%;
  height: 80px;
  overflow: hidden;
  border-radius: 2px;
}

#group img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.group-info {
  display: grid;
  justify-content: space-between;
}

#transactions {
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
}

#entity {
  display: grid;
  gap: 1rem;
  padding: 0.6rem;
  border-bottom: 1px solid #2b2b2b76;
}

#entity > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#date {
  opacity: 0.5;
  font-size: 12px;
}
